body{
    margin: 0;
    background-color: #152537;
    font-family: "Poppins", Sans-serif;
    overflow-x: hidden;
}
nav{
    background-color: #161D26;
    height: 80px;
    position: fixed;
    top: 0;
    position: relative;
    box-shadow: 0 0 5px black; 
}
nav img{
    width: 60px;
    position: absolute;
    top: 10px;
    left: 10%;
}
nav ul li{
    display: inline;
    margin-left: 50px;
    font-size: 18px;
}
nav ul{
    position: absolute;
    top: 20px;
    left: 23%;
}
nav a{
    text-decoration-line: none;
    color: white;
}
nav a:hover{
    color: #009FFF;
}
nav a:focus{
    color: #009FFF;
    border-bottom: 3px solid #009FFF;
}
nav button{
    background: transparent;
    border: 2px solid #009FFF;
    border-radius: 5px;
    position: absolute;
    top: 32px;
    right: 10%;
    padding: 5px 10px;
}
.login a{
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.login a:hover{
    color: white;
}
.login button:hover{
    background: #009FFF;
}
h1{
    text-align: center;
    font-size: 100px;
    font-weight: 700;
    color: #009FFF;
    margin: 90px;
    text-shadow: 0 0 5px #009FFF;
}
.parent h2{
    color: #009FFF;
    font-weight: 600;
    text-shadow: 0 0 3px #009FFF;
    font-size: 40px;
}
.parent p{
    color: white;
    margin: 1px;
    font-size: 16px;
}
.parent{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
footer{
        background: #161D26;
    box-shadow: 0 0 5px black;
    height: 250px;
    position: relative;
    bottom: 0;
}
.flex
{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.game-menu a{
    color: white;
    text-decoration-line: none;
    font-size: 14px;
}
.game-menu h2{
    color: white;
}
.game-menu p{
    font-size: 10px;
}
.media{
    text-align: center;
}
.media h2{
    color: white;
}
.media img{
    width: 20px;
    padding: 6px;
}
.elka h2{
    color: white;
}
.elka{
    color: white;
    text-align: center;
}
.elka p{
    text-align: center;
    font-size: 14px
}
footer .p{
    color: white;
    font-size: 14px;
    position: absolute;
    right: 20px;
    bottom: 10px;
}

@media (max-width:600px){





body{
    margin: 0;
    background-color: #152537;
    font-family: "Poppins", Sans-serif;
    overflow-x: hidden;
}
nav{
    background-color: #161D26;
    height: 80px;
    position: fixed;
    top: 0;
    position: relative;
    box-shadow: 0 0 5px black; 
}
nav img{
    width: 60px;
    position: absolute;
    top: 10px;
    left: 5%;
}
nav ul li{
    display: inline;
    margin-left: 10px;
    font-size: 18px;
}
nav ul{
    position: absolute;
    top: 20px;
    left: 10%;
}
nav a{
    text-decoration-line: none;
    color: white;
}
nav a:hover{
    color: #009FFF;
}
nav a:focus{
    color: #009FFF;
    border-bottom: 3px solid #009FFF;
}
nav button{
    background: transparent;
    border: 2px solid #009FFF;
    border-radius: 5px;
    position: absolute;
    top: 32px;
    right: 5%;
    padding: 5px 10px;
}
.login a{
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.login a:hover{
    color: white;
}
.login button:hover{
    background: #009FFF;
}
h1{
    text-align: center;
    font-size: 80px;
    font-weight: 700;
    color: #009FFF;
    margin: 90px;
    text-shadow: 0 0 5px #009FFF;
}
.parent h2{
    color: #009FFF;
    font-weight: 600;
    text-shadow: 0 0 3px #009FFF;
    font-size: 30px;
}
.parent p{
    color: white;
    margin: 1px;
    font-size: 16px;
}
.parent{
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-around;
    margin-bottom: 50px;
}
footer{
        background: #161D26;
    box-shadow: 0 0 5px black;
    height: 250px;
    position: relative;
    bottom: 0;

}
.flex
{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.game-menu a{
    color: white;
    text-decoration-line: none;
    font-size: 14px;
}
.game-menu h2{
    color: white;
}
.game-menu p{
    font-size: 10px;
}
.media{
    text-align: center;
}
.media h2{
    color: white;
}
.media img{
    width: 20px;
    padding: 6px;
}
.elka h2{
    color: white;
}
.elka{
    color: white;
    text-align: center;
}
.elka p{
    text-align: center;
    font-size: 14px
}
footer .p{
    color: white;
    font-size: 14px;
    position: absolute;
    right: 20px;
    bottom: 10px;
}







}
@media (min-width:601px) and (max-width:900px){




body{
margin: 0;
background-color: #152537;
font-family: "Poppins", Sans-serif;
overflow-x: hidden;
}
nav{
    background-color: #161D26;
    height: 80px;
    position: fixed;
    top: 0;
    position: relative;
    box-shadow: 0 0 5px black; 
}
nav img{
    width: 60px;
    position: absolute;
    top: 10px;
    left: 10%;
}
nav ul li{
    display: inline;
    margin-left: 20px;
    font-size: 18px;
}
nav ul{
    position: absolute;
    top: 20px;
    left: 20%;
}
nav a{
    text-decoration-line: none;
    color: white;
}
nav a:hover{
    color: #009FFF;
}
nav a:focus{
    color: #009FFF;
    border-bottom: 3px solid #009FFF;
}
nav button{
    background: transparent;
    border: 2px solid #009FFF;
    border-radius: 5px;
    position: absolute;
    top: 32px;
    right: 5%;
    padding: 5px 10px;
}
.login a{
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.login a:hover{
    color: white;
}
.login button:hover{
    background: #009FFF;
}
h1{
    text-align: center;
    font-size: 100px;
    font-weight: 700;
    color: #009FFF;
    margin: 90px;
    text-shadow: 0 0 5px #009FFF;
}
.parent h2{
    color: #009FFF;
    font-weight: 600;
    text-shadow: 0 0 3px #009FFF;
    font-size: 36px;
}
.parent p{
    color: white;
    margin: 1px;
    font-size: 16px;
}
.parent{
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-around;
    margin-bottom: 50px;
}
footer{
        background: #161D26;
    box-shadow: 0 0 5px black;
    height: 250px;
    position: relative;
    bottom: 0;

}
.flex
{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.game-menu a{
    color: white;
    text-decoration-line: none;
    font-size: 14px;
}
.game-menu h2{
    color: white;
}
.game-menu p{
    font-size: 10px;
}
.media{
    text-align: center;
}
.media h2{
    color: white;
}
.media img{
    width: 20px;
    padding: 6px;
}
.elka h2{
    color: white;
}
.elka{
    color: white;
    text-align: center;
}
.elka p{
    text-align: center;
    font-size: 14px
}
footer .p{
    color: white;
    font-size: 14px;
    position: absolute;
    right: 20px;
    bottom: 10px;
}






}